html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    width: 90%;
}

.container {

    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1rem;
    padding: 1rem;

    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g";
}

header {
    grid-area: a;
}

.main_pic {
    grid-area: b;
}

.purchase_info {
    grid-area: c;
}

.same_product_pictures {
    grid-area: d;
}

.product_details {
    grid-area: e;
}

.related_products {
    grid-area: f;
}

/* -------foot style------ */

.box10 {
    grid-area: g;
    display: grid;
    padding: 0px;
    grid-gap: 0%;
    background-color: rgb(54, 49, 49);
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
        "footer1"
        "footer3"
        "footer4";
}

.box6 {
    height: auto;
    flex-basis: 60%;
    grid-area: footer1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 0.8em;
    color: #6bbe92;
    list-style-type: none;
    text-align: center;
    line-height: 16px;
}

.readmore {
    text-align: justify;
    text-transform: capitalize;
}

.box8 a {

    text-decoration: none;
    color: #6bbe92;

}

.box8 {
    padding: 0;
    grid-area: footer3;
    color: #6bbe92;
    text-align: center;
    font-size: 0.8em;
}

.box8 li {
    text-decoration: none;
    align-content: left;
    list-style-type: none;
    text-align: center;
}

.box9 {
    grid-area: footer4;
    font-size: 0.8em;
    background-color: #6bbe92;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box9 a {
    text-decoration: none;
    color: rgb(25, 75, 36);
}

.iconSocial img {
    width: 40px;
}


/* ---------------- */



.section {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.main_pic_picture {
    padding: 1rem;
}

.main_pic_picture img {
    width: 100%;
}

.main_pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase_info {
    text-align: center;
    padding: 2rem;
}

.same_product_pictures {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.same_product_pictures div {
    margin: 1rem;
    width: 100px;
    height: auto;

}

input[type="text"] {
    width: 40px;
    height: 30px;
    text-align: center;
}

input[type="submit"] {
    width: 40px;
    height: 40px;
    background-color: rgb(45, 92, 45);
    color: white;
    font-weight: bold;
    font-size: large;
}


.product_selection_area {
    font-size: 2vw;

}

.product_selection_area button {
    width: 200px;
    height: 5vw;
    font-size: 2vw;

    color: rgb(10, 5, 5);
    background-color: rgb(53, 228, 53);
    border-radius: 1rem;
    border: none;

}

.same_product_pictures img {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}


.product_details {
    padding: 0 3rem;

    text-align: center;

}

.related_products {
    display: flex;
    padding: 0.5rem;

    align-items: center;
}

.related_products div {
    padding: 0.5rem;
}

.related_products img {
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.box6 {
    flex-direction: column;
}



@media only screen and (min-width: 768px) {


    .container {
        font-size: 1.6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1vw;
        padding: 1vw;

        grid-template-areas:
            "a a"
            "b c"
            "d d"
            "e e"
            "f f"
            "g g";
    }

    .social_media_pics img {
        width: 40px;
        height: 40px;
    }

    .box10 {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(20px, auto);
        grid-template-areas:
            "footer1 footer3"
            "footer4 footer4";
    }

}

@media only screen and (min-width: 1200px) {


    .container {
        font-size: 1.6rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "a a"
            "b c"
            "d e"
            "f f"
            "g g";
    }

    .social_media_pics img {
        width: 50px;
        height: 50px;
    }

    .box10 {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(20px, auto);
        grid-template-areas:
            "footer1 footer3"
            "footer4 footer4";
    }

}

@media only screen and (min-width: 768px) {
    footer .foot {
        flex: 1 1 20%;
    }
}

.product_selection_area a {
    text-decoration: none;
    color: rgb(10, 5, 5);
}